
body {
  font-family: Inter, sans-serif, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 40px;
}
.logo {
  width: 180px;
  margin-bottom: 20px;
}
.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  border: 2px solid #4F46E5;
  border-radius: 8px;
  text-align: center;
}
h1 {
  color: #4F46E5;
}
